<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Nueva Unidad
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingresar Nueva Unidad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="busForm" (ngSubmit)="onSubmit()">
          <label class="form-label">id</label>
          <input type="hidden" class="form-control" formControlName="id" [(ngModel)]="id">
          
          <label class="form-label">COOPERATIVA</label>
          <ng-select [(ngModel)]="selectedCo"  formControlName="selectedCo">
            <ng-option  *ngFor="let cooperativa of cooperativas" [value]="cooperativa.id" >{{cooperativa.nombre}}</ng-option>
          </ng-select>
          <label class="form-label">NUMERO</label>
          <input type="text" class="form-control" formControlName="numero" [(ngModel)]="numero">
          <label class="form-label">AÑO</label>
          <input type="text" class="form-control" formControlName="anio" [(ngModel)]="anio">
          <label class="form-label">RAM CPN/PLACA</label>
          <input type="text" class="form-control" formControlName="ramvCpn" [(ngModel)]="ramvCpn">
          <label class="form-label">MODELO DE CARROCERIA</label>
          <input type="text" class="form-control" formControlName="modeloCar" [(ngModel)]="modeloCar">
          <label class="form-label">MARCA CHASIS</label>
          <input type="text" class="form-control" formControlName="marcaCh" [(ngModel)]="marcaCh">
          <label class="form-label">TIPO DE TRANSPORTE</label>
          <input type="text" class="form-control" formControlName="transporte" [(ngModel)]="transporte">
          <label class="form-label">NUMERO DE PISOS</label>
          <input type="text" class="form-control" formControlName="pisos" [(ngModel)]="pisos">
          <label class="form-label">CAPACIDAD DE PASAJEROS</label>
          <input type="text" class="form-control" formControlName="capacidad" [(ngModel)]="capacidad">
          <label class="form-label">NUMERO DE PUERTAS</label>
          <input type="text" class="form-control" formControlName="puertas" [(ngModel)]="puertas">
          <label class="form-label">RUTA IMAGEN</label>
          <input type="text" class="form-control" formControlName="rutaImagen" [(ngModel)]="rutaImagen">

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()" data-bs-dismiss="modal">Guardar
          Bus</button>
      </div>
    </div>
  </div>
</div>
