<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    
    <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
        <i class="bi bi-list menu-boton"></i>
      </div>
      
    <a href="#" class="navbar-brand px-4">{{usuario?.rol}}</a>

    <div class="profile-logo dropdown">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
          {{usuario?.nombre}} {{usuario?.apellido}}
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesión</a></li>
        </ul>
      </div>

</nav>
